
/* header section */
header {
    background-image: url("../assets/images/AdobeStock_337254896.jpeg");
    background-size: cover;
    background-position: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: -webkit-sticky;
    position: sticky;

  }

  header a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 900;
  }

header h1 {
    font-weight: bold;
    font-size: 38px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header ul li {
    padding: 10px 15px;
    font-size: 26px;
    color: #ffffff;
    font-weight: 900;
  }
  /* header section end */

  /* hero styles start */
  .hero {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;

  }

    .hero h2 {
        color: #000000;
    }