
:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #808080 ;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  



/* header/ nav section */
header {
    padding: 20px 35px;
    background-image: url("../assets/images/AdobeStock_337254896.jpeg");
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: -webkit-sticky;
    position: sticky;

  }

  header a {
      text-decoration: none;
      color: var(--primary-color);
      font-weight: 900;
  }

header h1 {
    font-weight: bold;
    font-size: 38px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header ul li {
    padding: 10px 15px;
    font-size: 26px;
    color: var(--primary-color);
    font-weight: 900;
  }

  header ul li a {
      font-size: 26px;
  }

  header ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 16px;
  }

  /* header section end */



 
  /* hero styles start */

  .hero-image {
    background-image: url("../assets/images/AdobeStock_337254896.jpeg");
    height: 50%;
    background-position: center;;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

    .hero img {
        display: flex;
        height: 400px;
    }

    /* hero style ends */

    /* about-me section */

    .about-me img {
        padding: 20px;
        min-height: 200px;
        display: flex;
        width: 25%;
    }
    
    .bio p {
        color: var(--secondary-color);
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        align-items: center;
        line-height: 1.7;
        flex-wrap: wrap;
        text-align: justify;
        float: right;
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }

   .bio h2 {
       font-size: 30px;
       display: inline-block;
       padding-left: 30px;
       color: var(--primary-color);
   }

   .about-me  {
     background-color: var(--secondary-color);
   }

   /* about me section end */ 
   
   /* border box model for work section also */

   .projects h2 {
       font-size: 30px;
       padding-top: 30%;
       padding-left: 30px;
   }

   .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    grid-gap: 10px;
    grid-auto-flow: dense;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary-color);
    grid-gap: auto;
    width: 100%;
  }

  .grid-item-1 {
    font-size: 40px;
    display: inline-block;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    margin: 5px auto;
    background-image: url("./images/hero-bg.jpg");
    text-shadow: 0 2px 0 rgba(122, 59, 59, 0.07);
    width: 700px;
    height: 400px;
    box-sizing: border-box;
  }


  .grid-item-1 a {
      text-decoration:  none;
      color: var(--secondary-color);
  }
  

  .grid-item-1:hover {
      opacity: 1;
      color: var(--primary-color);
      border-radius: 16px;
      opacity: 2;
      cursor: pointer;
  }

  

  .grid-item-2 {
      font-size: 40px;
      display: inline-block;
      border: 1px solid var(--secondary-color);
      margin: 5px auto;
      background-image: url("./images/digital-marketing-meeting.jpg");
      color: var(--secondary-color);
      width: 100%;
      height: 300px;
      box-sizing: border-box;
      justify-content: center;
  }

  .grid-item-2:hover {
    opacity: 1;
    border-radius: 20px;
    cursor: pointer;
  }

  .grid-item-2 a {
      text-decoration: none;
      color: var(--secondary-color);
  }

  .grid-item-3 {
    font-size: 40px;
    display: flex;
    border: 1px solid var(--secondary-color);
    margin: 5px auto;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 80%;
    height: 300px;
    box-sizing: border-box;
  }

  .grid-item-3 a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  .grid-item-3:hover {
    opacity: 1;
    border-radius: 15px;
    cursor: pointer;
  }

  .grid-item-4 {
    font-size: 40px;
    display: inline-block;
    border: 1px solid var(--secondary-color);
    margin: 5px auto;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    width: 80%;
    height: 300px;
    box-sizing: border-box;
  }

  .grid-item-4:hover {
    opacity: 1;
    border-radius: 15px;
    cursor: pointer;
  }

  .grid-item-4 a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  .grid-item-5 {
    font-size: 40px;
    display: inline-block;
    border: 1px solid var(--secondary-color);
    margin: 4px auto;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    width: 80%;
    height: 300px;
    box-sizing: border-box;
  }

  .grid-item-5:hover {
    opacity: 1;
    border-radius: 15px;
    cursor: pointer;
  }

  .grid-item-5 a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  /* border box model for work section also */

  /* contact section start */
   
  .contact h2 {
    display: inline-block;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    flex-wrap: wrap;
}
 
.contact p {
  display: inline-block;
  padding: 30px;
  align-items: center;
}

/* contact section end */


/* media queries section */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    }
  

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .bio, .projects {
    width: 100%;
  }

  .contact {
    width: 80%;
  }
}
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }

    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }

    .bio h2 {
      flex: 1 100%;
      text-align: center;
    }

    .bio img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .grid-item-2 {
      justify-items: center;
      height: 100px;
      width: 100%;
    }

    .grid-item-5 {
      justify-content: center;
      height: 100px;
      width: 100%;
    }
  }

    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

    @media screen and (max-width: 575px) {
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

      .bio img {
        flex: 0 32%;
        margin-right: 0;
        width: 200px;
      }

      .bio h2 {
        flex: 1 100%;
        align-items: center;
      }

      .bio p {
       width: 100%;
      }

      .bio img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      }

    
      .projects h2  {
        flex: 1 100%;
        text-align: center;
      
      }

      .grid-container {
        justify-items: center;
        width: 100%;

      }

      .grid-item-1 {
        justify-content: center;
        height: 100px;
        width: 100%;
      }

      .grid-item-2 {
        justify-content: center;
        height: 100px;
        width: 100%;
      }

      .grid-item-3 {
        justify-content: center;
        height: 100px;
        width: 100%;
      }

      .grid-item-4 {
        justify-content: center;
        height: 100px;
        width: 100%;
      }

      .grid-item-5 {
        justify-content: center;
        height: 100px;
        width: 100%;
      }

    }