html {
  scroll-behavior: smooth;
}

/* body styles */
.bg-gray {
  background-color: #001B44; 
}

.bg-black {
  color: gray;
}

.black {
  color: black;
}

/* about section */
#what-i-do p {
  font-size: 25px;
}

/* work section styles */
#my-work {
  cursor: pointer;
}

#my-work a:hover {
  text-decoration: none;
  font-size: 20px;
  float: top;
}

.allen {
  background-image: url("./images/allen-stone.jpg");
  background-size: cover;
}

#work {
  background-image: url("./images/lifeform_background.jpg");
}